
#receipt {
    z-index: 3;
    background-color: red;;
    display: none;
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 50%;
}

#pop {
    z-index: 3;
    background-color: red;;
    display: none;
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 50%;
}

#pop1 {
    display: none;
    position: absolute;
    top: 2%;
    height: 80%;
    width: 80%;
    background-color: black;
    color: white;
    z-index: 1;
    margin: 40px;
    overflow-y: scroll;
}
#pop1 img {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#pop2 {
    display: none;
}
#pop3 {
    display: none;
    background-image: url("public/clouds.gif");
    outline: 4px;
    outline-color: white;
}
#pop3 h2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#pop3 img {
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#pop4 {
    display: none;
    background-image: url("public/water.gif");
    outline: 4px;
    width: 75vw;
    overflow-y: scroll;
}
#pop4 img{
    width: 60%;
    display:block;
    margin-left:auto;
    margin-right:auto;
}
#receipt {
    width: 70%;
    display: block;
    margin-left:auto;
    margin-right:auto;
    background-color: black;
    opacity: 70%;
    padding: 5%;
    background-blend-mode: normal;
    overflow-wrap: break-word;
}

.x {
    outline: 12px;
    outline-color: azure;
    outline-style: double;
    width: 30px;
    height: 30px;
    margin: 25px;
    padding-bottom: 5px;
    font-size: 30px;
    text-align: center;
}
.x:hover {
    cursor:pointer;
}
.point:hover{
    cursor: pointer;
}

.white-link {
    color: ivory;
}
