

body {
    color:rgb(255, 255, 255);
    margin-bottom:0px;
    margin-left:0px;margin-right:0px;margin-top:0px;min-height:100%;overflow-x:visible;overflow-y:visible;background-position:/*x=*/center /*y=*/top;font-family:TuttiFrutti;font-style:normal;font-weight:300;-webkit-font-smoothing:antialiased;background-color:rgb(255, 255, 255);display:block;padding-right:0px;
}

#bar {
    left:0.0px;position:absolute;top:calc(0.0px - 0.0px);width:100%;z-index:999999;background-color:rgb(255, 236, 245);display:block;height:100px;
}

#main {
    display:block;margin-bottom:0px;margin-left:auto;margin-right:auto;margin-top:20%;max-width:1400px;position:relative;width:85%;
}



#pop {
    z-index: 3;
    background-color: red;;
    display: none;
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 50%;
}

#pop1 {
    z-index: 3;
    background-color:black;
    display: none;
    position: absolute;
    top: 30%;
    left: 40%;
    width: 30%;
}
#pop1 img {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#pop2 {
    display: none;
}
#pop3 {
    display: none;
    background-image: url("public/clouds.gif");
    outline: 4px;
    outline-color: white;
}
#pop3 h2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#pop3 img {
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#pop4 {
    display: none;
    background-image: url("public/water.gif");
    outline: 4px;
    width: 75vw;
    overflow-y: scroll;
}
#pop4 img{
    width: 60%;
    display:block;
    margin-left:auto;
    margin-right:auto;
}
#receipt {
    width: 70%;
    display: block;
    margin-left:auto;
    margin-right:auto;
    background-color: black;
    opacity: 70%;
    padding: 5%;
    background-blend-mode: normal;
    overflow-wrap: break-word;
}

.x {
    outline: 12px;
    outline-color: azure;
    outline-style: double;
    width: 30px;
    height: 30px;
    margin: 25px;
    padding-bottom: 5px;
    font-size: 60px;
    text-align: center;
    cursor: pointer;
}
.x:hover {
    cursor:pointer;
}
.point:hover{
    cursor: pointer;
}

.white-link {
    color: ivory;
}
